.circle {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.circle:hover {
  opacity: 0.8;
}

.circle--red {
  background-color: #fd5f56;
}

.circle--yellow {
  background-color: #febc2e;
}

.circle--green {
  background-color: #26be3d;
}
